<%= link_to 'Comments', task_comments_path(@comment.task_id) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %>
