<%= form_with url: users_url do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="actions">
    <%= form.submit 'Recover'%>
  </div>

<% end %>