<h4><%= link_to  "JOBS", user_jobs_path(current_user) %></h4>
all | finished | in progress | time mised | delayed | canceled | planed
<hr>
<%- current_user.jobs.each do |job| %>
  <section>
    <%= link_to job.name, job_path(job.id) %>
  </section>
<% end %>
