    <div class='navs_jobs'>
      <%= render  template: 'layouts/navs/jptc/jobs' %>
    </div>

    <div class='navs_parts'>
      <%= render  template: 'layouts/navs/jptc/parts' %>
    </div>

    <div class='navs_tasks'>
      <%= render  template: 'layouts/navs/jptc/tasks' %>
    </div>
