/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
  background-color: rgb(253, 184, 216);
  float: left;
  width: 100%;
  height: 70px
 }
.navs_jobs {
  background-color: rgb(184, 253, 184);
  float: left;
  width: 15%;
  height: 700px;
}
.navs_parts {
  background-color: rgb(149, 213, 221);
  float: left;
  width: 15%;
  height: 700px;
}
.navs_tasks {
  background-color: rgb(255, 255, 214);
  float: left;
  width: 15%;
  height: 700px;
}
.layout_yeld {
  background-color: rgb(187, 187, 219);
  float: left;
  width: 55%;
  height: 700px;
}
footer {
  background-color: rgb(240, 155, 155);
  position: absolute;
  /* left: 0; */
  bottom: 0%;
  width: 95%;
  height: 80px;
}
